.col-sm-4,.col-sm-5,.col-sm-3,.col-lg-4,.col-lg-5,.col-lg-3,.col-md-4,.col-md-5,.col-md-3{
    background: #f2f2f2;
    margin: 5px;
   
    max-height: 350px;
}
.bottom,.bottomalert{
    min-height: 300px;
    max-height: 350px;
    overflow-y: scroll;
}

.timeline{
    max-height: 280px;
    overflow-y: scroll;
}
.gs .col-sm-3{
    border-right: 2px solid #1a949b;
}
h4{
    padding-bottom: 12px!important;
    border-bottom: 2px solid black;
}

span a{
    font-size: 30px;
    text-decoration: none;
}


@media only screen and (min-width: 1000px) {
    .minibar{
        height: 50px;
    }
    
}
@media only screen and (max-width: 800px) {
    .bottomalert{
        width: 465px!important;
    }
    
}
  
body{
    text-align: center;
}
.mainCnt{
box-shadow: -16px 7px 20px 5px black;
}
body{
    margin: 20px;
}

@media only screen and (max-width: 1000px) {
    body div{
    margin-right: auto;
    margin-left: auto;
    }
}